:root{

    /* Cores */

    --bg-color: #0F1117;
    --sidebar-color: #171A21;
    --header-color: #171A21;
    --card-color: #1F2430;

    --border-color: #2D3445;

    --primary-color: #4F8CFF;
    --primary-hover: #6AA3FF;

    --text-color: #FFFFFF;
    --text-secondary: #9CA3AF;

    --danger: #EF4444;
    --success: #22C55E;
    --warning: #F59E0B;

    /* Tamanhos */

    --sidebar-width: 260px;
    --header-height: 70px;

    --border-radius: 12px;

    --transition: .2s ease;

    --shadow:
        0 4px 18px rgba(0,0,0,.25);

}