.header{

    height:var(--header-height);

    background:var(--header-color);

    border-bottom:1px solid var(--border-color);

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:0 35px;

}

.header-right{

    display:flex;

    align-items:center;

    gap:12px;

}

.header input{

    width:250px;

    background:var(--card-color);

    border:none;

    outline:none;

    color:white;

    padding:12px 15px;

    border-radius:10px;

}

.header button{

    width:42px;

    height:42px;

    border:none;

    border-radius:10px;

    background:var(--card-color);

    cursor:pointer;

    transition:.2s;

}

.header button:hover{

    transform:scale(1.05);

}

.header button{

    display:flex;

    justify-content:center;

    align-items:center;

}

.header button svg{

    width:20px;

    height:20px;

}