<div class="sidebar">

    <div>

        <div class="logo">

            Nevermiss

        </div>

        <div class="divider"></div>

        <nav>

            <a class="active">
                Dashboard
            </a>

            <a>
                Agenda
            </a>

            <a>
                Wishlist
            </a>

            <a>
                Documents
            </a>

            <a>
                Vault
            </a>

        </nav>

    </div>

    <div class="bottom">

        <div class="divider"></div>

        <a class="settings">

            Settings

        </a>

        <div class="divider"></div>

        <div class="profile">

            <div class="avatar"></div>

            <div>

                <strong>Marcos Pereira</strong>

                <span>Personal Workspace</span>

            </div>

        </div>

    </div>

</div>