<div class="sidebar">

    <div class="sidebar-logo">

        <span class="logo-icon">
            ✦
        </span>

        <span>
            Nevermiss
        </span>

    </div>


    <nav class="sidebar-menu">


        <button class="menu-item active">

            <span>🏠</span>

            Dashboard

        </button>


        <button class="menu-item">

            <span>📅</span>

            Agenda

        </button>


        <button class="menu-item">

            <span>🛒</span>

            Wishlist

        </button>


        <button class="menu-item">

            <span>📁</span>

            Documents

        </button>


        <button class="menu-item">

            <span>🔒</span>

            Vault

        </button>


        <div class="menu-divider"></div>


        <button class="menu-item">

            <span>⚙</span>

            Settings

        </button>


    </nav>


    <div class="sidebar-user">


        <div class="avatar">

            MP

        </div>


        <div>

            <strong>

                Marcos

            </strong>


            <small>

                Personal Account

            </small>


        </div>


    </div>


</div>