.sidebar{

    width:var(--sidebar-width);

    height:100%;

    background:var(--sidebar-color);

    border-right:1px solid var(--border-color);

    display:flex;

    flex-direction:column;

    justify-content:space-between;

    padding:28px;

}

.logo{

    font-size:34px;

    font-weight:700;

    margin-bottom:25px;

    letter-spacing:-1px;

}

.divider{

    width:100%;

    height:1px;

    background:var(--border-color);

    margin:22px 0;

}

nav{

    display:flex;

    flex-direction:column;

    gap:8px;

}

nav a{

    color:var(--text-secondary);

    text-decoration:none;

    padding:14px 18px;

    border-radius:12px;

    transition:.2s;

    cursor:pointer;

}

nav a:hover{

    background:var(--card-color);

    color:white;

}

nav .active{

    background:var(--primary-color);

    color:white;

}

.bottom{

    display:flex;

    flex-direction:column;

}

.settings{

    padding:14px 18px;

    border-radius:12px;

    cursor:pointer;

    color:var(--text-secondary);

    transition:.2s;

}

.settings:hover{

    background:var(--card-color);

    color:white;

}

.profile{

    display:flex;

    align-items:center;

    gap:14px;

}

.avatar{

    width:46px;

    height:46px;

    border-radius:50%;

    background:var(--primary-color);

}

.profile strong{

    display:block;

    font-size:15px;

}

.profile span{

    color:var(--text-secondary);

    font-size:13px;

}