<div class="sidebar">

    <div>

        <div class="logo">

            Nevermiss

        </div>

        <div class="divider"></div>

        <nav>

            <a class="active">

                <i data-lucide="layout-dashboard"></i>

                <span>Dashboard</span>

            </a>

            <a>

                <i data-lucide="calendar-days"></i>

                <span>Agenda</span>

            </a>

            <a>

                <i data-lucide="star"></i>

                <span>Wishlist</span>

            </a>

            <a>

                <i data-lucide="folder"></i>

                <span>Documents</span>

            </a>

            <a>

                <i data-lucide="shield-check"></i>

                <span>Vault</span>

            </a>

        </nav>

    </div>

    <div class="bottom">

        <div class="divider"></div>

        <a class="settings">

            <i data-lucide="settings"></i>

            <span>Settings</span>

        </a>

        <div class="divider"></div>

        <div class="profile">

            <div class="avatar"></div>

            <div>

                <strong>Marcos Pereira</strong>

                <span>Personal Workspace</span>

            </div>

        </div>

    </div>

</div>