.sidebar {

    width:260px;

    min-width:260px;

    flex-shrink:0;

    height: 100vh;

    background: var(--surface);

    border-right:1px solid var(--border);

    display:flex;

    flex-direction:column;

    padding:20px;

}


/* LOGO */

.sidebar-logo {


    height:50px;

    display:flex;

    align-items:center;

    gap:10px;

    font-size:22px;

    font-weight:700;

    margin-bottom:30px;

}


.logo-icon {


    color:var(--primary);

    font-size:28px;

}



/* MENU */

.sidebar-menu {


    display:flex;

    flex-direction:column;

    gap:8px;

}



.menu-item {


    width:100%;

    display:flex;

    align-items:center;

    gap:12px;

    padding:12px 15px;

    border-radius:12px;

    color:var(--text-secondary);

    transition:.25s;

}



.menu-item:hover {


    background:var(--surface-hover);

    color:var(--text);

}



.menu-item.active {


    background:var(--primary);

    color:white;

}



.menu-divider {


    height:1px;

    background:var(--border);

    margin:20px 0;

}



/* USER */

.sidebar-user {


    margin-top:auto;

    display:flex;

    align-items:center;

    gap:12px;

    padding:12px;

    background:var(--surface-hover);

    border-radius:14px;

}



.avatar {


    width:40px;

    height:40px;

    border-radius:50%;

    background:var(--primary);

    display:flex;

    align-items:center;

    justify-content:center;

    font-weight:bold;

}



.sidebar-user small {


    display:block;

    color:var(--text-secondary);

    margin-top:3px;

}